/*
 * --adonSh
 */

body {
  background-color: #eee;
  font-family: Verdana;
}

#failvideo {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

#lyrics {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.25em;
  width: 50%;
}
